@use "../custom" as *;
@use "../components/mixins" as *;
.btn-rounded {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  position: relative;
  padding: 0.75rem 3rem 0.75rem 1.2rem;
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid rgba($white, 0.6);
  background-color: $white;

  span {
    position: absolute;
    background-color: $primary;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;

    i {
      color: $white;
      font-size: 1rem;
      line-height: 2.5rem;
    }
  }
  &:hover {
    @include gradient;
    border-color: $primary;
    color: $white;

    span {
      background-color: rgba($black, 0.6);
    }
  }
}
